h2 {
  font-family: 'Roboto Slab', serif;
  padding-top: 100px;
  text-align: center;
  color: #FF9999;
}
p{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  text-align: center;
  color: pink;
}
p1{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: white;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
h3{
  font-family: 'Roboto Slab', serif;
  text-align: left;
  color: pink;
}
header.masthead{
  padding-top: 10rem;
  padding-bottom: 100px;
  background-image: url("../titlepage.jpg");
  background-color: #cccccc;
  background-position: center center;
  background-size: cover;
}
.btn-primary{
  background-color: #ffcccc;
  border-color: #ffcccc;
}
.btn-primary:hover{
  background-color: #ff9999;
  border-color: #ff9999;
}

hr{
  max-width: 50px;
  border-width: 3px;
  border-color: white;
}

.herb {
  color: #008080;
}


.lancasterimg{
  padding-bottom: 50px;
}

.cafe{
  padding-bottom: 25px;
  border-radius: 90px;
}

.img-fluid{
  height: 50px;
}

.nav-item{
  font-family: 'Roboto Slab', serif;
  color: #FF9999;
}
.navbar-brand{
  font-family:'Roboto Slab', serif;
  font-weight: 700;
  color: #ff9999;
}

.journey{
  color:	#808080;
}

.music{
  color:	#A52A2A;
}

.hall{
  color: #663399;
}

.study{
  color: #FFB6C1;
}
