h1{
  font-family: 'Gravitas One', cursive;
  text-align: center;
  color: white;
}
h2 {
  font-family: 'Roboto Slab', serif;
  padding-top: 100px;
  text-align: center;
  color: #FF9999;
}

h2.recommendations{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-align: center;
  color: #808080;
  padding-top: 100px;
}

p{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  text-align: center;
  color: pink;
}
p.recommendations{
  color: black;
}
p1{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: white;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
h3{
  font-family: 'Roboto Slab', serif;
  text-align: left;
  color: pink;
}
section.recommendations{
  padding-top: 10rem;
}
header.masthead{
  padding-top: 10rem;
  padding-bottom: 2rem;
  background-image: url("../titlepage.jpg");
  background-color: #cccccc;
  background-position: center center;
  background-size: cover;
}
.btn-light{
  background-color: #ffcccc;
  border-color: #ffcccc;
  color: white;
  border-radius: 8px;
}
.btn-light:hover{
  background-color: #ff9999;
  border-color: #ff9999;
  color: white;
  border-radius: 8px;
}

hr{
  max-width: 50px;
  border-width: 3px;
  border-color: white;
}
.bg-primary{
  background-color: white !important;
}
hr.grey{
  border-color: #E0E0E0;
  max-width: 100px;
  padding-bottom: 20px;
}

.herb {
  color: #008080;
}

.footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  margin-bottom: -60px;
}
.footer .fa {
  padding: 5px;
  margin: 10px;
  font-size: 50px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
  background: #ffffff;
  color: #ff9999;
}
.footer .fa:hover{
  color: #E0E0E0;
}

.lancasterimg{
  padding-bottom: 50px;
}

.cafe{
  padding-bottom: 25px;
  border-radius: 90px;
}

.img-fluid{
  height: 50px;
}

.nav-item{
  font-family: 'Roboto Slab', serif;
  color: #FF9999;
}
.navbar-brand{
  font-family:'Roboto Slab', serif;
  font-weight: 700;
  color: #ff9999;
}

.journey{
  color:	#808080;
}

.music{
  color:	#A52A2A;
}

.hall{
  color: #663399;
}

.study{
  color: #FFB6C1;
}

.center {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 150px;
   height: 150px;
   margin-top: -75px; /* Half the height */
   margin-left: -75px; /* Half the width */
}
